/* Global App Container */
*{
    -ms-overflow-style: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f172a;
  overflow-y:auto;
}
::-webkit-scrollbar {
    display: none;
}
html {
  scroll-behavior: auto !important;
}
